{% extends 'layouts/base_admin.html.twig' %}

{% block title %}
    {% if post.id %}
        Modifier un article
    {% else %}
        Ajouter un article
    {% endif %}
{% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/680gbxqmf0h6zgyhj1k2o972aksvf0uq6t3laj8yk6jumzi2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#content',
            plugins: 'advlist autolink lists link charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <a href="{{ route('adminPosts@index') }}" class="btn btn-sm btn-outline-secondary"><span data-feather="arrow-left"></span></a>
        <h1 class="h2 ms-3">Ajouter un article</h1>
    </div>
    {{ form_start(form) }}
    <div class="row mt-3">
        <div class="col-md-12">
            {{ form_row(form, 'title', 'Titre') }}
            {{ form_errors(form, 'title') }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            {{ form_row(form, 'content', 'Contenu') }}
            {{ form_errors(form, 'content') }}
        </div>
    </div>
    {{ form_row(form, '_csrf_token', '', csrf_token()) }}
    <button type="submit" class="mt-3 btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}