{% extends 'layouts/base_layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Sébastien Thuret</h1>
            <p class="lead my-3">le développeur qu’il vous faut !</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Derniers articles
            </h3>

            {% for post in posts %}
                <div class="blog-post">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <a href="{{ route('posts@show', {id: post.id, slug: post.slug}) }}">Lire la suite</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">Contactez-moi</h4>
                {{ form_start(form) }}
                <div class="row mt-3">
                    <div class="col-md-6">
                        {{ form_row(form, 'firstname', 'Prénom') }}
                        {{ form_errors(form, 'firstname') }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form, 'lastname', 'Nom') }}
                        {{ form_errors(form, 'lastname') }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        {{ form_row(form, 'email', 'Adresse email') }}
                        {{ form_errors(form, 'email') }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        {{ form_row(form, 'message', 'Message') }}
                        {{ form_errors(form, 'message') }}
                    </div>
                </div>
                {{ form_row(form, '_csrf_token', '', csrf_token()) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}